body {
  margin: 0;
}

h1 {
  margin: 0;
  color: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #777;
  height: 10vh;
}

main {
  background-color: #aaa;
  min-height: 80vh;
}

footer {
  background-color: #333;
  height: 10vh;
  /*necesario*/
}

.sections {
  background-color: #888;
  border: solid 1px #000;
  align-self: stretch;
  margin: 2px;
  height: 60vh;
}

.img-hero {
  background-image: url("../assets/images/attorney-group.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  opacity: 0.5;
}

.opacity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#efecto {
  margin:0;
  background-color: #080a;
  grid-area: 1 / 1 / 4 / 4;
}

#primero {
  grid-area: 1 / 1 / 2 / 2;
}
#segundo {
  grid-area: 3 / 1 / 4 / 4;
  align-self: top;
  justify-self: center;
}