<<<<<<< HEAD
body{
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

=======
body {
  margin: 0;
}

h1 {
  margin: 0;
  color: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #777;
  height: 10vh;
}

main {
  background-color: #aaa;
  height: 80vh;
}

footer {
  background-color: #333;
  height: 10vh;
}
>>>>>>> 9fbdc053cce46d59084518fee9d200de6b63b4aa
